<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Paysages énergétiques</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <meta name="description" content="Pays-Ages Energetiques">    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      *{
        padding: 0;
        margin: 0;
      }
      img{
        display: inline-block;
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  
  <body>
    <img src="https://cdn.glitch.com/ecfa8186-2fb0-48f1-b6cf-dae89c7003cf%2FBS40_Rhodanie_Flou.jpg?v=1571147005337">
    <p>Flou</p>
    <img src="https://cdn.glitch.com/ecfa8186-2fb0-48f1-b6cf-dae89c7003cf%2FBS40_Rhodanie_Onde.jpg?v=1571147007156">
    <p>Onde</p>
    <img src="https://cdn.glitch.com/ecfa8186-2fb0-48f1-b6cf-dae89c7003cf%2FBS40_Rhodanie_Dark.jpg?v=1571147007257">
    <p>Dark</p>
    <img src="https://cdn.glitch.com/ecfa8186-2fb0-48f1-b6cf-dae89c7003cf%2FBS40_Rhodanie_white.jpg?v=1571147007422">
    <p>White</p>
    <img src="https://cdn.glitch.com/ecfa8186-2fb0-48f1-b6cf-dae89c7003cf%2FBS40_Rhodanie_solarisation.jpg?v=1571147008752">
    <p>Solaire</p>
    <img src="https://cdn.glitch.com/ecfa8186-2fb0-48f1-b6cf-dae89c7003cf%2FBS40_Rhodanie_Negatif.jpg?v=1571147008753">
    <p>Negatif</p>
    <img src="https://cdn.glitch.com/ecfa8186-2fb0-48f1-b6cf-dae89c7003cf%2FBS40_Rhodanie.jpg?v=1571147009186">
    <p>Original</p>
    <img src="https://cdn.glitch.com/ecfa8186-2fb0-48f1-b6cf-dae89c7003cf%2FBS40_Rhodanie_points.jpg?v=1571147009790">
    <p>Points</p>
    <img src="https://cdn.glitch.com/ecfa8186-2fb0-48f1-b6cf-dae89c7003cf%2FBS40_Rhodanie_NB.jpg?v=1571147489767">
    <p>NB</p>
    
  </body>
</html>
